# √çNDICE
# **Repsol D4D/D4B**
# **Introducci√≥n a Python para An√°lisis de Datos üêç üìä**
# *Notebook 1: B√°sicos en Python*

---

### √çNDICE DE CONTENIDO
1. INTRODUCCI√ìN
2. ESTRUCTURAS DE DATOS B√ÅSICAS
3. OPERADORES
4. IMPORTAR LIBRER√çAS

### Juan Martin Bellido
* [linkedin.com/in/jmartinbellido](https://www.linkedin.com/in/jmartinbellido/) 

* jmbellido@isdi.education

# INTRODUCCI√ìN
---

### Entornos
---
Existen distintas interfaces que nos permiten ejecutar c√≥digo Python. Podemos destacar particularmente dos tipos:
* *IDEs (integrated development environments)*. Especilamente utilizadas para desarrollo de software, destacan por contar con funcionalidades que facilitan el *debugging* (detecci√≥n y soluci√≥n de errores). Ejemplo: PyCharm.
* *Notebooks*. Populares para el an√°lisis de datos y Data Science. No est√°n optimizados para operar con grandes vol√∫menes de c√≥digo, pero resultan de utilidad para generar documentos que permitan visualizar f√°cilmente el resultado del c√≥digo utilizado. Ejemplo: Jupyter Notebook.


En un notebook, el contenido est√° estructurado en celdas.
* Las celdas pueden ser de dos tipos: *texto* o *c√≥digo*.
* Podemos crear tantas celdas como queramos y ejecutarlas de forma independiente.  
* En caso de celdas de c√≥digo, primar√° el √≥rden de ejecuci√≥n de las mismas y no la posici√≥n en la que figuren en el documento.



> ‚úÖ Este documento es de tipo *notebook*.

### Objetos
---
Python es un *lenguaje orientado a objetos*, al igual que la mayor√≠a de lenguajes de programaci√≥n modernos. Esto significa que podemos definir objetos (o *variables*) que se almacenar√°n en nuestro entorno de forma temporal y podremos invocar seg√∫n lo necesitemos. 

* ‚ö†Ô∏è *Los objetos declarados se perder√°n al reiniciar nuestro entorno o al expl√≠citamente eliminarlos.*

Para definir un objeto utilizamos la siguiente sintaxis:

```
new_object = X
```

In [ ]:
# A continuaci√≥n, un ejemplo sencillo de c√≥mo podemos definir un objeto y luego invocarlo
my_name = "Martin" # definimos un objeto y almacenamos texto
# Esta celda no tendr√° output, ya que estamos ALMACENANDO informaci√≥n, no INVOC√ÅNDOLA

In [ ]:
my_name  # invocamos objeto

'Martin'

* ‚ö†Ô∏è *Los nombres de los objetos no pueden tener espacios*
* ‚ö†Ô∏è *Los nombres de los objetos no pueden empezar con n√∫meros (ej. 1_nombre)*

### Tipos de objeto
---
Python base reconoce varios tipos de objetos (variables):
*  *Num√©ricos (n√∫meros)*
*  *Alfanum√©ricos (texto)*
*  *L√≥gicos (verdadero/ falso)*

In [ ]:
# Los objetos de tipo num√©ricos pueden ser (i) "int" (enteros) o (ii) "float" (con decimales)
numeric_obj = 2
type(numeric_obj)

int

In [ ]:
numeric_obj = 1.2
type(numeric_obj)

float

In [ ]:
# Los objetos alfanum√©ricos son definidos como "str"
string_obj = "Python"
type(string_obj)

str

In [ ]:
# Por √∫ltimo, Python reconoce tambi√©n el tipo de variable booleana ("bool")
bool_obj = True
type(bool_obj)

bool

#### Consideraciones al definir objetos de tipo string

In [ ]:
# Al definir objetos de tipo string, debemos siempre utilizar comillas
# Las comillas pueden ser dobles ("") o simples ('')
string_obj = "Python"
stirng_obj = 'Python'

In [ ]:
# Podemos combinar comillas, en caso de necesitarlo
string_obj = "El libro se titula 'Ficciones', de Jorge Luis Borges"
string_obj = 'El libro se titula "Ficciones", de Jorge Luis Borges'

# ESTRUCTURAS DE DATOS B√ÅSICAS
---
Python base contempla distintos formatos de almacenamiento de datos, cada uno de ellos con caracter√≠sticas y tratamiento propio. 

Las estructuras de datos b√°sicas son cuatro (en orden de prioridad seg√∫n su uso en an√°lisis de datos),
*   *Lists* (listas)
*   *Dictionaries* (diccionarios)
*   *Tuples*
*   *Sets*

Por fuera de estas cuatro estructuras de datos b√°sicas, existen estructuras adicionales que han sido incorporadas por medio de librer√≠as, es decir, funcionalidades que no son parte del c√≥digo fuente de Python. En concreto, en an√°lisis de datos utilizamos principalmente DataFrames (tablas de datos) que han sido incorporadas por la librar√≠a *Pandas*.

### Lists
---
Los *lists* son estructuras unidimensionales que permiten almacenar varios tipos de variables (objetos). Cada elemento almacenado en un list se encuentra indexado.

Para definir un vector utilizamos la siguiente sintaxis,

```
my_list = [1,2,3]
```

In [ ]:
# Definimos una lista
my_list = [1,"a",3,False,5]
my_list

[1, 'a', 3, False, 5]

In [ ]:
# Las listas pueden contener a su vez otras listas como elementos
my_list_v2 = [100,"cien",my_list]
my_list_v2

[100, 'cien', [1, 'a', 3, False, 5]]

In [ ]:
# La caracter√≠stica principal de un list es que los elementos almacenados se encuentran indexados
## esto significa que cada elemento en un list contiene un n√∫mero √∫nico que nos permite invocarlo
## nota importante: Python indexa al 0 (el 0 es el primer valor)
my_list_v2[0]

100

In [ ]:
# Modificamos un elemento dentro del list
my_list_v2[0] = 101
my_list_v2

[101, 'cien', [1, 'a', 3, False, 5]]

### Dictionaries
---
Los *dictionaries* (diccionarios) son estructuras unidimensionales que permiten almacenar objetos bajo una l√≥gica *key-pair*. Los *dictionaries* no admiten valores *key* duplicados y los elementos almacenados no mantienen un orden ni se encuentran indexados; los valores (*pair*) se invocan utilizando el *key*.

Para definir un vector utilizamos la siguiente sintaxis,

```
my_dic = {
  key_1:value_1,
  key_2:value_2,
  key_3:value_3
  }
```

In [ ]:
# Definimos un diccionario
my_dic = {
  "ciudad": "Madrid",
  "nombre del curso": "Intro a Python",
  "a√±o": 2021,
  "es curso de pr√°ctico": True,
  "asistentes":["Maria","Juan","Jose"],
  "cantidad de asistentes":3
}

# Invocamos el diccionario y verificamos que no mantiene el orden establecido al ser definido
my_dic

{'asistentes': ['Maria', 'Juan', 'Jose'],
 'a√±o': 2021,
 'cantidad de asistentes': 3,
 'ciudad': 'Madrid',
 'es curso de pr√°ctico': True,
 'nombre del curso': 'Intro a Python'}

In [ ]:
# Consultamos el valor para un elemento del diccionario, invoc√°ndolo con su valor "key"
my_dic['nombre del curso']

'Intro a Python'

In [ ]:
# Reemplazamos el valor para un elemento del diccionario
my_dic['asistentes'] = ["Maria","Juan","Jose","Pepe"]
my_dic

{'asistentes': ['Maria', 'Juan', 'Jose', 'Pepe'],
 'a√±o': 2021,
 'es curso de Python': True,
 'escuela': 'ISDI',
 'programa': 'MDA'}

### Tuples
---
Los *tuples* son estructuras unidimensionales similares a las *list*, con la diferencia de que son inmutables; esto significa que no pueden ser modificadas tras haberse definido.

```
my_tupple = (1,2,"c")
```

In [ ]:
# Definimos un tupple y lo invocamos
my_tupple = (2,1,"c","a")
my_tupple

(2, 1, 'c', 'a')

In [ ]:
# Seleccionamos un elemento en nuestra tupple
my_tupple[1]

1

* ‚ö†Ô∏è *La celda a continuaci√≥n dar√° intencionalmente como resultado error*

In [ ]:
# Intentamos modificar un elemento en el tupple, pero esto nos dar√° error
## como hemos anticipado, los tupples son inmutables
my_tupple[1] = 3 # esto generar√° error

TypeError: ignored

### Sets
---
Los *sets* son estructuras unidimensionales similares a las *list* y *tuples*, pero con las siguientes diferencias,
*   no permiten almacenar elementos duplicados;
*   los elementos no est√°n indexados; y
*   no se puede manipular el orden de los elementos.

Para definir un set utilizamos la siguiente sintaxis,

```
my_set = {1,2,"c"}
```

In [ ]:
my_set = {1,10,0,5,'b','c','a'} # definimos un set
my_set  # lo invocamos, verificamos que el orden de los elementos es distinto al que hemos establecido

{0, 1, 10, 5, 'a', 'b', 'c'}



> ‚ö†Ô∏è *La celda a continuaci√≥n dar√° intencionalmente como resultado error*

In [ ]:
# A continuaci√≥n, verificamos que efectivamente un set no permite la indexaci√≥n
my_set[2] # esto dar√° error

TypeError: ignored

### Operaciones avanzadas con Lists
---
De las estructuras de datos b√°sicas disponibles en Python, las *lists* son las m√°s utilizadas en An√°lisis de Datos. A continuaci√≥n, introducimos algunas operaciones √∫tiles al operar con este tipo de estructuras.

#### A√±adir objetos en una lista

In [ ]:
# Definimos una list
city_list = ['Madrid','Barcelona','Paris','Buenos Aires']

In [ ]:
# Utilizamos el m√©todo 
city_list.append('Milan')

In [ ]:
# Invocamos list
city_list

['Madrid', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

In [ ]:
# El m√©todo append() a√±ade un objeto en la √∫ltima posici√≥n de la list
# A continuaci√≥n, utilizaremos el m√©todo insert() para a√±adir un nuevo objeto en la lista, especificando su posici√≥n dentro de la estructura
city_list.insert(0,'Berlin') # lo introducimos en la primer posici√≥n

In [ ]:
# Invocamos la lista
city_list

['Berlin', 'Madrid', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

#### Eliminar objetos en lista

In [ ]:
# Podemos remover objetos en una list, en funci√≥n de su posici√≥n
del city_list[1] # removemos el segundo objeto

In [ ]:
# Invocamos list para observar cambios
city_list

['Berlin', 'Barcelona', 'Paris', 'Buenos Aires', 'Milan']

In [ ]:
# En ocasiones, nos resulta m√°s c√≥modo remover objetos en funci√≥n de su valor
city_list.remove('Milan')

In [ ]:
# Invocamos list para observar cambios
city_list

['Berlin', 'Barcelona', 'Paris', 'Buenos Aires']

#### Consultar cantidad de elementos en una list

In [ ]:
# Utilizamos la funci√≥n len() para consultar cantidad de elementos almacenados en una list
len(city_list)

4

# OPERADORES
---
En programaci√≥n, los operadores son s√≠mbolos espec√≠ficos que permiten hacer comparaciones y realizar manipulaciones.

*   *Operadores aritm√©ticos*: permiten realizar operaciones matem√°ticas
*   *Operadores de comparaci√≥n*: contrastan objetos y comparan valores, arrojando un resultado true/false
*   *Operadores l√≥gicos*: se utilizan para realizar pruebas l√≥gicas sobre condiciones, arrojando un resultado true/false

### Operadores aritm√©ticos
---


| Operator 	|   Description  	|
|----------	|:--------------:	|
| +        	| addition       	|
| -        	| subtraction    	|
| *        	| multiplication 	|
| /        	| division       	|
| **  	| exponentiation 	|

In [ ]:
# Operadores aritm√©ticos
## definimos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# Test 1
obj_1/obj_2

2.0

In [ ]:
# Test 2
obj_1-obj_2

5

### Operadores de comparaci√≥n
---

| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| <         	| less than                	|
| <=        	| less than or equal to    	|
| >         	| greater than             	|
| >=        	| greater than or equal to 	|
| ==        	| exactly equal to         	|
| !=        	| not equal to             	|

In [ ]:
# Operadores aritm√©ticos
## definimos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# Test 1
## comprobar si objeto 1 es mayor a 8
obj_1 > 8

True

In [ ]:
# Test 2
## comprobar si objeto 1 es igual a objeto 2
obj_1 == obj_2

False

### Operadores L√≥gicos
---

| Operator  	|        Description       	|
|-----------	|:------------------------:	|
| x and y    	| se cumplen condiciones X e Y                    	|
| x or y    	| se cumple  condiciones X o Y                   	|
| not x     	| negamos la condici√≥n X   	|

In [ ]:
# Operadores aritm√©ticos
## definimos dos objetos num√©ricos
obj_1 = 10
obj_2 = 5

In [ ]:
# Test 1
## comprobar si se cumple alguna de las dos condiciones
obj_1 > 8 or obj_2 > 8 # "objeto 1 es mayor a 8 u objeto 2 es mayor a 8"

True

In [ ]:
# Test 2
## comprobar si se cumplen ambas condiciones
obj_1 > 8 and obj_2 > 8 # "objeto 1 es mayor a 8 y objeto 2 es mayor a 8"

False

In [ ]:
# Test 3
## negando una condici√≥n
not obj_1 > 8

False

### Operador IN
---
El operador *in* permite comprobar si un valor se encuentra contenido en una list.

In [ ]:
# Definimos una list
city_list = ['Madrid','Barcelona','Paris','Buenos Aires']

In [ ]:
# ¬øLa list incluye el valor 'Madrid'? 
'Madrid' in city_list

True

In [ ]:
# ¬øLa list incluye el valor 'New York'?
'New York' in city_list

False

# IMPORTAR LIBRER√çAS
---
Python es un lenguaje de programaci√≥n *open-source* y *colaborativo*. Por tanto, est√° abierto a que cualquier persona cree y comparta nuevas funcionalidades. Las funcionalidades est√°n agrupadas en *paquetes* o *librer√≠as* que debemos instalar (una √∫nica vez) e importar cada vez que querramos utilizarlas.

Muchas librer√≠as populares suelen estar pre-instaladas en nuestros entornos, por tanto √∫nicamente necesitamos importarlas. Para importar una librer√≠a, utilizamos la siguiente sintaxis,

```
import (library) as (tag)
```

In [ ]:
import pandas as pd

√önicamente podremos importar una librer√≠a si se encuentra instalada en nuestro entorno. Existen varias formas de instalar una librer√≠a en Python, la m√°s popular es mediante *pip*, un sistema de gesti√≥n de librer√≠as para Python desarrollado por el MIT.

A continuaci√≥n, se presenta la sintaxis que se utilizar√≠a para instalar la librer√≠a *pandas*. Nota: necesitamos tener instalado pip en nuestro entorno, algo que suele suceder por defecto.

```
pip install pandas
```

### Ejemplo de uso de librer√≠a
---
En la secci√≥n *Estructuras de Datos B√°sicas* comentamos brevemente acerca de los dataframes (tablas de datos), una estructura que no est√° presente en Python base, sino que ha sido desarrollada como funcionalidad adicional por la comunidad.

Tras haber importado la librer√≠a *pandas*, utilizaremos dos de sus funciones para importar datos de nuestro entorno en formato dataframe.

Importamos dataframe utilizando la funci√≥n *pd.read_csv()*:

```
pd.read_csv('path')
```

* ‚ö†Ô∏è *Debemos utilizar el prefijo pd. para explicitar que la funci√≥n forma parte de la librer√≠a pandas*

In [ ]:
# Importamos un dataframe desde una URL
pd.read_csv("https://data-wizards.s3.amazonaws.com/datasets/jamesbond.csv")

                               Film  Year  ... Budget Bond Actor Salary
0                            Dr. No  1962  ...    7.0               0.6
1             From Russia with Love  1963  ...   12.6               1.6
2                        Goldfinger  1964  ...   18.6               3.2
3                       Thunderball  1965  ...   41.9               4.7
4                     Casino Royale  1967  ...   85.0               NaN
5               You Only Live Twice  1967  ...   59.9               4.4
6   On Her Majesty's Secret Service  1969  ...   37.3               0.6
7              Diamonds Are Forever  1971  ...   34.7               5.8
8                  Live and Let Die  1973  ...   30.8               NaN
9       The Man with the Golden Gun  1974  ...   27.7               NaN
10             The Spy Who Loved Me  1977  ...   45.1               NaN
11                        Moonraker  1979  ...   91.5               NaN
12               For Your Eyes Only  1981  ...   60.2               NaN
13            Never Say Never Again  1983  ...   86.0               NaN
14                        Octopussy  1983  ...   53.9               7.8
15                 A View to a Kill  1985  ...   54.5               9.1
16             The Living Daylights  1987  ...   68.8               5.2
17                  Licence to Kill  1989  ...   56.7               7.9
18                        GoldenEye  1995  ...   76.9               5.1
19              Tomorrow Never Dies  1997  ...  133.9              10.0
20          The World Is Not Enough  1999  ...  158.3              13.5
21                  Die Another Day  2002  ...  154.2              17.9
22                    Casino Royale  2006  ...  145.3               3.3
23                Quantum of Solace  2008  ...  181.4               8.1
24                          Skyfall  2012  ...  170.2              14.5
25                          Spectre  2015  ...  206.3               NaN

[26 rows x 7 columns]